<!-- first load django static tag. -->
{% load static %}
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
        <link rel="icon" type="image/png"  href="{% static 'user/manager.png' %}" style="margin-left: 30px;">
    <title>User Management</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                 <img src="{% static 'user/manager.png' %}" width="30" height="30" class="d-inline-block align-top">
                <span> &nbsp; <b>User Management Portal</b></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="#">Today, {{ date }} <span class="sr-only">(current)</span></a></li>
                    </ul>     
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users' %}">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">admin</a>
                        </li>

                </ul>
            </div>
        </div>
        </nav>

        <div class="container">

{% block content %}

{% endblock %}

<footer>
 
    <div class="footer footer-expand-lg bg-primary"><div class="wrap"><center>
  
	<p>Copyright © User Management Portal. All Rights Reserved. UMP ® is a registered trademark.
	Managed by Swarup Kharul</p></center>  
</div>
</div>
<style>
    *{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }
    .footer{
                color:rgb(255, 255, 255);
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
             }
    </style>
    </footer>
</body>

</html>
