{% extends "user/base.html" %}

{% block content %}
<br>
    
    <br>
    <br>
    <center>
        <div class="col-md-6 text-center">
            <div class="alert alert-info" role="alert">
                 <h1>User Management made easy!!</h1><br>
            <p>Life is fun. But life is also busy. There's a million different things you want to keep record of. But what matters most is <u>how</u> you manage. I created <b><i>User Management Portal</i></b> to help you manage all your employees/users and live that life that matters most to you. Your new organized life awaits.</p>
            <br>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'users' %}">See Users</a>
        </div>
    </div>
</center>
 
    <br>
    <br>
    <br>

{% endblock %}